*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rebeccapurple;
}
h1{
    font-size: 101px;
    color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
h3{
    font-size: 61px;
    color: red;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}